<div class="section-full content-inner overlay-primary-dark main bg-img-fix text-white" style="background-image:url(images/background/bg4.jpg);">
    <div class="container">
        <div class="section-content">
             <div class="row">
                <div class="col-md-4 col-sm-4 m-b30 text-center">
                    <div class="counter-style-1">
                        <div class="">
                            <i class="icon flaticon-bar-chart text-white"></i>
                            <span class="counter">4922</span>
                        </div>
                        <span class="counter-text">Completed Projects</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 m-b30 text-center">
                    <div class="counter-style-1">
                        <div class="">
                            <i class="icon flaticon-team text-white"></i>
                            <span class="counter">2934</span>
                        </div>
                        <span class="counter-text">Happy Clients</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 m-b30 text-center">
                    <div class="counter-style-1">
                        <div class="">
                            <i class="icon flaticon-file text-white"></i>
                            <span class="counter">2296</span>
                        </div>
                        <span class="counter-text">Questions Answered</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>