<div id="prices" class="section-full content-inner pricing-plans bg-white bgeffect" style="background-image:url(assets/images/background/bg12.jpg);" data-0="background-position:0px 0px;" data-end="background-position:0px 2000px;">
    <div class="container">
        <div class="section-head text-center">
            <h2 class="heading-top">Наши цены</h2>
        </div>
        <div class="pricingtable-row m-b30">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="pricingtable-wrapper">
                        <div class="pricingtable-inner">
                            <div class="pricingtable-price bg-primary"><span class="pricingtable-bx text-white">Шугаринг</span></div>
                            <ul class="pricingtable-features">
                                <li>300 - Подмышки</li>
                                <li>700 - Бикини глубокое</li>
                                <li>400 - Бикини классика</li>
                                <li>400 - Руки 3/4</li>
                                <li>450 - Руки полностью</li>
                                <li>от 100 - Доп. зоны</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="pricingtable-wrapper style-1">
                        <div class="pricingtable-inner pricingtable-highlight">
                            <div class="pricingtable-price bg-primary"><span class="pricingtable-bx text-white">Полимер</span></div>
                            <ul class="pricingtable-features">
                                <li>400 - Подмышки</li>
                                <li>1100 - Бикини глубокое</li>
                                <li>550 - Бикини классика</li>
                                <li>650 - Руки 3/4</li>
                                <li>750 - Руки полностью</li>
                                <li>850 - Голени</li>
                                <li>900 - Бедра</li>
                                <li>от 100 - Доп. зоны</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="pricingtable-wrapper style-1">
                        <div class="pricingtable-inner pricingtable-highlight">
                            <div class="pricingtable-price bg-primary"><span class="pricingtable-bx text-white">Skin\'s</span></div>
                            <ul class="pricingtable-features">
                                <li>500 - Подмышки</li>
                                <li>1600- Бикини глубокое</li>
                                <li>800 - Бикини классика</li>
                                <li>850 - Руки 3/4</li>
                                <li>1000 - Руки полностью</li>
                                <li>1100 - Голени</li>
                                <li>1200 - Бедра</li>
                                <li>от 200 - Доп. зоны</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="pricingtable-wrapper">
                        <div class="pricingtable-inner">
                            <div class="pricingtable-price bg-primary"><span class="pricingtable-bx text-white">Ваксинг</span></div>
                            <ul class="pricingtable-features">
                                <li>150 - Усики</li>
                                <li>350 - Руки 3/4</li>
                                <li>400 - Руки полностью</li>
                                <li>450 - Голени</li>
                                <li>500 - Бедра</li>
                                <li>от 50 - Доп. зоны</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
