<div class="section-full overlay-black-middle bg-img-fix content-inner" style="background-image:url(assets/images/background/reviews.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sort-title text-white clearfix text-center">
                    <h4 style="font-size: 32px">Слова наших клиентов</h4>
                </div>
                <div class="section-content m-b30">
                    <owl-carousel-o [options]="customOptions" class="testimonial-three">
                        
                        <ng-template carouselSlide *ngFor="let person_review of reviews">
                            <div class="testimonial-3 testimonial-bg">
                                <div class="quote-left"></div>
                                <div class="testimonial-text">
                                    <p>{{person_review.text}}</p>
                                </div>
                                <div class="testimonial-detail"><strong class="testimonial-name">{{person_review.name}}</strong><span class="testimonial-position p-l5">{{person_review.proff}}</span> </div>
                            </div>
                        </ng-template>   
                     </owl-carousel-o>
                </div>
                <div class="sort-title text-white clearfix text-center">
                    <a data-toggle="modal" data-target="#myModal" class="site-button radius-xl m-lr5">Оставить отзыв</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade contact-form black" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form method="post" class="p-b20" action="/">
                    @csrf
                    <div class="row">
                        <button name="Resat" type="reset" value="Reset" data-dismiss="modal" class="close-btn">&times; </button>
                        <div class="col-md-12 text-center text-white">
                            <h2 class="text-white"></h2>
                            <p>Дайте нам знать, что вы думаете о нашем салоне!</p>
                        </div>
                        <div class="col-md-12">
                            <div class="m-b15">
                                <input id="review_author" placeholder="Ваше имя" name="author" type="text" required class="form-control radius-xl">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="m-b15">
                                <input id="review_author_job" placeholder="Ваша профессия" name="author_job" type="text" class="form-control radius-xl">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="m-b15">
                                <textarea class="form-control radius-xl" placeholder="Что вы думаете?" id="review_text" name="text" rows="8" required></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button name="submit" type="submit" value="Submit" class="site-button radius-xl outline white btn-block">Оставить отзыв!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
