<div class="page-wraper">
  <div id="loading-area"></div>
  <app-header></app-header>
  <app-slider></app-slider>
  <!-- <app-offer></app-offer> -->
  <!-- <app-auditory></app-auditory> -->
  <app-advantages></app-advantages>
  <!-- <app-office></app-office> -->
  <!-- <app-use-cases></app-use-cases> -->
  <!-- <app-contacts></app-contacts> -->
  <!-- <app-example></app-example> -->
  <!-- <app-results></app-results> -->
  <app-reviews></app-reviews> 
  <app-prices></app-prices> 
  <app-contacts></app-contacts>
  <app-questions></app-questions>
  <app-products></app-products>
  <app-contacts></app-contacts>
  <app-footer></app-footer>
  <button class="scroltop fa fa-chevron-up" ></button>
</div>